<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">DN 사시진단 프로그램</div>
    </a>

    <li class="nav-item">
        <a class="nav-link" href="recognize">
            <span>환자 진단</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="version">
            <span>버전 정보</span></a>
    </li>

</ul>
